---
import {
  type DriversStandingsInterface,
  type DriverStanding,
  type Driver,
} from "../interfaces/DriversStandings";

const { driverStandings }: DriversStandingsInterface = await fetch(
  "https://fia-formula-1-championship-statistics.p.rapidapi.com/api/standings/drivers-standings?year=2023",
  {
    method: "GET",
    headers: {
      "X-RapidAPI-Key": "df163c1acdmsh067ecb6cddbce09p120c32jsn5325a2ac0db8",
      "X-RapidAPI-Host": "fia-formula-1-championship-statistics.p.rapidapi.com",
    },
  }
).then((response) => response.json());
---

<section
  class="flex flex-col justify-center items-center my-8 max-w-7xl mx-auto"
>
  <table class="bg-gray-900 max-w-7xl text-white w-full striped-table mb-8">
    <thead>
      <tr>
        <th>Position</th>
        <th>Team</th>
        <th>Driver</th>
        <th>Points</th>
      </tr>
    </thead>
    <tbody>
      <!-- Insert table rows here -->
      {
        driverStandings &&
          driverStandings.map((driverStand: DriverStanding) => (
            <tr class="h-10">
              <td class="text-center">{driverStand.pos}</td>
              <td class="text-center">{driverStand.car}</td>
              <td class="text-center">
                {driverStand.driver.firstname}&nbsp;
                {driverStand.driver.lastname}
              </td>
              <td class="text-center">{driverStand.pts}</td>
            </tr>
          ))
      }
    </tbody>
  </table>
</section>

<style>
  .striped-table {
    background-color: #282828;
  }

  .striped-table tr:nth-child(even) {
    background-color: #4b4b4b;
  }
</style>
